<html>
<body>

<p>

<br> After assess the changes in socio-economic indicators for a specific country over time, this visulisation now enables one to assess the development of a specific socio-economic indicator over time.
This more specific analysis of each indicator enables for great inter country comparison.



</p>


</body>
</html>