<html>
<body>

<p>

<br>To assess the socio-economic effects of the GFC we use a variety of indicators. As mentioned earlier we analyse these effects from four perspectives ‘health & wellbeing’, ‘economy’, ‘inequality’, and ‘governance’.

<br>
<br>

<p style="color:navy;"><b>Health & Wellbeing</b></p> 
Indicators in the category ‘health & wellbeing’ seek to assess whether or how the financial crisis impacted the health and wellbeing of citizens from the United States, Germany, India, and South Africa. The six indicators selected for this purpose are “Adolescent fertility rate (births per 1,000 women ages 15-19)”, “Current health expenditure (% of GDP)”, “Death rate, crude (per 1,000 people)”, “Life expectancy at birth, total (years)”, “Mortality rate, under-5 (per 1,000 live births)”, “Suicide mortality rate (per 100,000 population)”, and “Total alcohol consumption per capita (liters of pure alcohol)

<br>
<br>

<p style="color:navy;"><b>Economy</b></p> 
Indicators in the category ‘economy’ seek to assess how the financial crisis affected the economies of the four selected countries. The indicators chosen are “Consumer price index (2010 = 100)”, “Exports as a capacity to import (constant LCU)”, “Final consumption expenditure (% of GDP)”, “Foreign direct investment, net inflows (% of GDP)” , “GDP growth (annual %)”, “Gross domestic savings (% of GDP)”, “Inflation, consumer prices (annual %)”, “Labor force participation rate, total (% of total population ages 15-64)”, “Market capitalization of listed domestic companies (% of GDP)”, “Real interest rate (%)”, “Unemployment, total (% of total labor force)”, “Unemployment, youth total (% of total labor force ages 15-24)”, and “Vulnerable employment, total (% of total employment)”. 

<br>
<br>

<p style="color:navy;"><b>Inequality</b></p> 
Indicators in the category ‘inequality’ seek to assess how the crisis changed the level of inequality in each country. For that purpose, the indicators “Gini index (World Bank estimate)”, “Income share held by highest 20%”, and “Income share held by lowest 20%” were chosen

<br>
<br>

<p style="color:navy;"><b>Governance</b></p> 
Indicators in the category ‘governance’ seek to exhibit the changing circumstances governing bodies were faced with. To show this the indicators “General government final consumption expenditure (% of GDP)”, “Tax revenue (% of GDP)”, and “Total reserves (% of total external debt)” were chosen. 

<br>

</p>


</body>
</html>