<html>
<body>

<p>


<p style="color:navy;"><b>The Great Financial Crisis (GFC)</b></p>  
The GFC of 2008 was one of the worst financial crises on record, wiping out a decade worth of economic progress in many countries and plunging millions of people around the world into poverty.  To develop a more nuanced understanding of the crisis dynamic’s, this analysis seeks to take a data-driven approach to investigate the socio-economic effects and fiscal policy responses of the GFC. More specifically, we analyse and visualize socio-economic indicators and government budgets over the years 2000 to 2015 for the United States, Germany, India, and South Africa. The four countries were chosen to compare differences between high- and middle-income countries regarding the effects and response to the crisis. 
The two main research questions we seek to answer are:
<br>
<br>1.	What were the socio-economic effects of the Great Financial Crisis of 2008 in the United States, Germany, India, and South Africa?
<br>
<br>2.	How did the governments of these states adjust their fiscal policy to address the crisis and how did such policy reforms affect socio-economic welfare?
<br>
<br>Insights generated through answering these questions aim to enhance the public’s and policy maker’s understanding of the crisis and guide future policy responses.
<br>



</p>


</body>
</html>

  